*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.convite{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.video video{
    width: 100%;
    max-width: 700px;
}