*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carregar{
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top,white,rgb(251, 181, 193), rgb(250, 171, 184));


}

.box.show {
    animation: aparecer 0.5s ease forwards;
}

.box.hide {
    animation: sumir 0.5s ease forwards;
}


.carregar img{
    width: 300px;
    
    
}
.corpo{
    position: relative;
    animation: aparecer 2s ease forwards;
    

    display: none; 
}

.carregar-img{
    animation: sumir99 3s ease forwards;
}




@keyframes sumir99 {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}


.nuvem1{
    width: 110px;
    position: absolute;
   top: 90px;
   animation: nuvem 35s linear infinite;
}
.nuvem2{
    width: 160px;
    position: absolute;
   top: 150px;
   animation: nuvem 25s linear infinite;
}
.nuvem3{
    width: 180px;
    position: absolute;
   top: 350px;
   animation: nuvem 15s linear infinite;
}
@keyframes nuvem{
    0%{
        left: -200px;
    }
    100%{
        left: 200%;
    }
}
.inicio{
    background-image: linear-gradient(to top, white,pink, rgb(245, 95, 205));
    min-height: 100vh;
    width: 100%;
    top: 50%;
    position: relative;
}
.envelope{
    width: 320px;
    z-index: 99;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#botao{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    z-index: 100;
    bottom: 90px;
    border-radius: 50%;
}

.meio{
    background-image: linear-gradient(to top, white,pink, rgb(245, 95, 205));
    min-height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    position: relative;
} /*Display flex*/
.video{
    position: relative;
    
}
.video video{
    width: 100%;
    position: relative;
}
.informacoes{
    min-height: 65vh;
    position: relative;
    animation: sugir 3s ease forwards;
}

.informacoes-cima{
    font-variant: small-caps;
    color: rgb(138, 4, 145);
}
.informacoes-baixo{
 font-size: 1.2em;
 color: rgb(243, 101, 212);
}
.position{
    position: absolute;
}
.arco{
    width: 300px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.8;
}
.castelo{
    width: 250px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.9;
}

    

@keyframes entrar {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}



@keyframes entrar1 {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}
@keyframes sugir {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}
.princesa{
    width: 80px;
    bottom: 10px;
}
.bela{
    left: 70px;
    animation: entrar 9s ease forwards, dancar 9s linear infinite;;
}
.branca{
    left: 240px;
    animation: entrar 9s ease forwards, dancar1 9s linear infinite;
    
}
.rapuzel{
    left: 150px;
    animation: sugir 9s ease forwards, meio 9s linear infinite;
}
.loira{
    right: 0;
    animation: entrar 9s ease forwards, dancar1 9s linear infinite;
}
.cindelera{
    left: -20px;
    animation: entrar 9s ease forwards, dancar 9s linear infinite;
    
}
.arvore{
    width: 100px;
    bottom: 0;
}
.arvore2{
    width: 70px;
    right: 0;
    bottom: 0;
}

@keyframes dancar {
    0%,100% {
        
        transform: translateX(30px);
    }

    50% {
        
        transform: translateX(0);
        
    }
    
}
@keyframes dancar1 {
    0%,100% {
        
        transform: translateX(-30px);
    }

    50% {
        
        transform: translateX(0);
        
    }
    
}
@keyframes meio {
    0%,100% {
        
        transform: scale(1);
    }

    50% {
        
        transform: scale(1.1);
        
    }
    
}

.text-sombra{
    text-shadow: 
    1px 1px black,
    -1px -1px black, 
    -1px 1px black,
     1px -1px black;


}
@keyframes sugir3 {
    from {
        opacity: 0;
        transform: translateX(80px);
       
        
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}