*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inicio{
    background-color: aqua;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.envelope{
    width: 390px;

}

.meio{
    background-color: rgb(0, 255, 30);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.video{
    position: relative;
}
.video video{
    width: 100%;
    position: relative;
}
.informacoes{
    min-height: 65vh;
    position: relative;
}
.position{
    position: absolute;
}
.castelo{
    width: 250px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.9;
}
.princesa{
    width: 80px;
    bottom: 10px;
}
.bela{
    left: 70px;
}
.branca{
    left: 240px;
}
.rapuzel{
    left: 150px;
}
.loira{
    right: 0;
}
.cindelera{
    left: -20px;
}